In [2]:
result = 10 / 3
a = 10 // 3
b = 10 % 3
print(result, a, b)
print("result :", a + b)

3.3333333333333335 3 1
result : 4

In [10]:
#slicing
print("Python"[1:6:-1])

In [21]:
print("Python"[5:0:-1])#bro slicing h ye pura print nahi hoga

nohty

In [22]:
b = "Hello, World!"
print(b[:5])
b = "Hello, World!"
print(b[2:])
b = "Hello, World!"
print(b[-5:-4])

Hello
llo, World!
o

In [6]:
b = "Hello, World!"
print(b[2:5])

llo

In [23]:
# Version
import sys
print(sys.version)
f = ["a", "b", "c"]
x, y, z = f
print(x)
print(y)
print(z)

3.10.12 (main, Nov  6 2024, 20:22:13) [GCC 11.4.0]
a
b
c

In [24]:
# global viable
x = "awesome"
def myfunc():
 x = "fantastic"
 print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

In [26]:
# use global key word
def myfunc1():
 global x
 x = "fantastic"
myfunc1()
print("Python is " + x)

Python is fantastic

In [27]:
# Chance global variable value
x = "awesome"
def myfunc2():
 global x
 x = "fantastic"
myfunc2()
print("Python is " + x)

Python is fantastic

In [28]:
# complex number
x = complex(1j)
z = complex(2)
print(x) # 1j
print(z) # (2+0j)

1j
(2+0j)

In [29]:
# Multiline Strings use also multiline comment
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [31]:
# Strings are Arrays
a = "Hello, World!"
print(a[1])
# Checking string
txt = "The best things in life are free!"
print("free" in txt)
x = ("apple", "banana", "cherry")
print(x)
print(10, 20, 30,sep=' - ')
print ("GeeksForGeeks is the best platform for DSA content", end= "**")
print("Welcome to GFG")
sourceFile = open('python.txt', 'w')
print('Pretty cool, huh!', file = sourceFile)
sourceFile.close()

e
True
('apple', 'banana', 'cherry')
10 - 20 - 30
GeeksForGeeks is the best platform for DSA content**Welcome to GFG

In [32]:
# String function
a = "Hello, World!"
print(a.upper())
print(a.lower())
print("hi".upper())
b = " Hello, World! "
print(b.strip())
print(a.replace("o", "z"))
print(a.split(","))

HELLO, WORLD!
hello, world!
HI
Hello, World!
Hellz, Wzrld!
['Hello', ' World!']

In [33]:
# Format string use f then string and varible in {} also call Placeholders
# Placeholders use in any where in f-string
age = 36
txt = f"My name is John, I am {age}"
print(txt)
print(f"HI I am {age} year old")
print(f"HI I am {age: .2f} year old")
print(f"TWO NUMBER ADDITION IS: {2+2}")
# print("He is called "Johnny"") provide error
print("He is called 'Johnny'")
print("He is called \"Johnny\"")
#print('It's alright.') provide error
print('It\'s alright.')
print("Hello\nWorld!")
print("Hello\tWorld!")
# isinstance like bool
x = '200'
print(isinstance(x, str))
# in and not in
x = ["apple", "banana"]
print("banana" in x)
# and, or, xor and not Bitwise Operators
print(1&1, 1|0, 1^0, ~0)
# tuple basic ("a") is string ("a",) is tuple
t = ("apple",)
print(type(t))

My name is John, I am 36
HI I am 36 year old
HI I am  36.00 year old
TWO NUMBER ADDITION IS: 4
He is called 'Johnny'
He is called "Johnny"
It's alright.
Hello
World!
Hello	World!
True
True
1 1 1 -1
<class 'tuple'>

In [39]:
#if else
#elif:if the previous conditions were not true, then try this condition
a = 34
b = 33
if b > a:
 print("b is greater than a")#kuch print nahi hoga
elif a == b:
 print("a and b are equal")



a = 200
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")
else:
 print("a is greater than b")



a = 200
b = 33
if b > a:
 print("b is greater than a")
else:
 print("b is not greater than a")



#short hand if else
a = 2
b = 330
if a > b: print("a is greater than b")
#Ternary Operators, or Conditional Expressions.
print("A") if(a > b) else print("=") if(a==b) else print("B")

a is greater than b
b is not greater than a
B

In [38]:

# and or not
a = 200
b = 33
c = 500
if a > b and c > a:
 print("Both conditions are True")
if a > b or c > a:
 print("any one condition is True")
if not a > b:
 print("NOt")

B
Both conditions are True
any one condition is True

In [43]:
# Nested if
x = 41
if x > 10:
 print("Above ten,")
 if x > 20:
  print("and also above 20!")
 else:
  print("but not above 20.")
else:
 print("OK")

Above ten,
and also above 20!

In [46]:
# pass statement
a = 33
b = 200
if b > a:
 pass

In [48]:
# Drived data type
# List items are ordered, changeable, allow duplicate values and indexed.
# A List can contain diƯerent data types
print(["abc", 34, True, 40, "male"])
# A tuple is ordered, indexed, allow duplicate and unchangeable.
tuple1 = (1, 2, 33, 44, 6)
tuple1[4] = 10

['abc', 34, True, 40, 'male']

TypeError: 'tuple' object does not support item assignment

In [49]:
#Tuple with one item
thistuple = ("apple",)
print(type(thistuple))
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))
# A tuple can contain diƯerent data types
print(("abc", 34, True, 40, "male"))
# A set is an unordered, unchangeable,not allow duplicate and unindexed.
# True and Flase same as 1 and 0
a = {"apple", "banana", "cherry", True, 1, 2,0, False}
print(a)
# A dictionary ordered, changeable, any data type and do not allow duplicates.
t = {"brand": "Ford","year": 1964,"year": 2020}
print(t)
th = {"brand": "Ford","electric": False,"year": 1964,
"colors": ["red", "white", "blue"]}
print(th)

<class 'tuple'>
<class 'str'>
('abc', 34, True, 40, 'male')
{0, 'banana', 2, True, 'apple', 'cherry'}
{'brand': 'Ford', 'year': 2020}
{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [50]:
# List with Range
t = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(t[-4:-1]) # -1 not include
# index start with 0 not include last index value
t = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(t[2:5])
t = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(t[:4])
t = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(t[2:])
# Change a Range of Item
t = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
t[1:3] = ["blackcurrant", "watermelon"]
print(t)

['orange', 'kiwi', 'melon']
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [51]:
# If you insert more items than you replace, the new items will
# be inserted where you specified, and the remaining items will move accordingly
t = ["apple", "banana", "cherry"]
t[1:2] = ["blackcurrant", "watermelon"]
print(t)
t = ["apple", "banana", "cherry"]
t[1:3] = ["watermelon"]
print(t)
# Insert Item
t = ["apple", "banana", "cherry"]
t.insert(2, "watermelon")
print(t)

['apple', 'blackcurrant', 'watermelon', 'cherry']
['apple', 'watermelon']
['apple', 'banana', 'watermelon', 'cherry']

In [56]:
# Append Items
t = ["apple", "banana", "cherry"]
t.append("orange")
print(t)
# Extend List
t = ["apple", "banana", "cherry"]
t1 = ["mango", "pineapple", "papaya"]
t.extend(t1)
print(t)
# add any iterable object (tuples, sets, dictionaries etc.)
t = ["apple", "banana", "cherry"]
tp = ("kiwi", "orange")
t.extend(tp)
print(t)
# Remove item
t = ["apple", "banana", "cherry", "banana", "kiwi"]
t.remove("banana")
print(t) # only remove Ist occurance
# Remove Specified Index
t = ["apple", "banana", "cherry"]
t.pop(1)
print(t)
t = ["apple", "banana", "cherry"]
t.pop()
print(t) # Remove last item
# del also delete item
t = ["apple", "banana", "cherry"]
del t[0] #Example, you need to specify an index
print(t)
t = ["apple", "banana", "cherry"]
del t # complete list
# clear list
t = ["apple", "banana", "cherry"]
t.clear()
print(t)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'kiwi', 'orange']
['apple', 'cherry', 'banana', 'kiwi']
['apple', 'cherry']
['apple', 'banana']
['banana', 'cherry']
[]

In [60]:
# diƯerence() method
# return a new set that will contain only the items from the ﬁrst set
# that are not present in the other set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
set4 = set1 - set2
print(set3)
print(set4)

{'banana', 'cherry'}
{'banana', 'cherry'}

In [61]:
# - operator only allows you to join sets with sets, and not with other data types
# diƯerence_update method will also keep the items from the ﬁrst set
# that are not in the other set, but it will change the original set
# instead of returning a new set.
# OR we can say: keep the items that are not present in both sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [62]:
# - operator only allows you to join sets with sets, and not with other data types
# diƯerence_update method will also keep the items from the ﬁrst set
# that are not in the other set, but it will change the original set
# instead of returning a new set.
# OR we can say: keep the items that are not present in both sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [63]:

# symmetric_diƯerence() method
# will keep only the elements that are NOT present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
set4 = set1 ^ set2
print(set3)
print(set4)

{'banana', 'google', 'microsoft', 'cherry'}
{'banana', 'google', 'microsoft', 'cherry'}

In [66]:

# ^ operator only allows you to join sets with sets, and not with other data types
# symmetric_diƯerence_update() method to keep the items that are not present in both sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'banana', 'google', 'microsoft', 'cherry'}

In [67]:

# Access Dictionary Items
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(car["model"])
print(car.get("model"))
x = car.keys()
print(x) #before the change
car["color"] = "white"
print(x) #after the change
# Values

Mustang
Mustang
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [68]:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.values()
print(x) #before the change
car["year"] = 2020
print(x) #after the change in value
car["color"] = "red"
print(x) #after the change in key and value

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])
dict_values(['Ford', 'Mustang', 2020, 'red'])

In [69]:

# items() method will return each item in a dictionary, as tuples in a list.
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items()
print(x) #before the change
car["year"] = 2020
print(x) #after the change in values
car["color"] = "red"
print(x) #after the change in key and value

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'red')])

In [73]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items()

car["year"] = 2020

car["color"] = "red"

# check key exist or not
if "model" in car:
 print("Yes, 'model' is one of the keys in dictionary")
# change of values and add values
car.update({"year": 2020})
print(car)
print(car.items())
car["year"] = 2018
print(car)
car.update({"type": "AMT"})
print(car.items())

Yes, 'model' is one of the keys in dictionary
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'red')])
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018), ('color', 'red'), ('type', 'AMT')])

In [74]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items()

car["year"] = 2020

car["color"] = "red"


# change of values and add values
car.update({"year": 2020})

print(car.items())
car["year"] = 2018
print(car)
car.update({"type": "AMT"})

# Remove item
car.pop("model")
print(car)
car.popitem()
print(car)
del car["model"]# already deleted in model thats why error
print(car)
# Copy a Dictionary
newcar = car.copy()
print(newcar)
newcar = dict(car)
print(newcar)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'red')])
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}
{'brand': 'Ford', 'year': 2018, 'color': 'red', 'type': 'AMT'}
{'brand': 'Ford', 'year': 2018, 'color': 'red'}

KeyError: 'model'

In [77]:

# Nested Dictionaries
myfamily = {
"child1" : {
"name" : "Emil",
"year" : 2004
},
"child2" : {
"name" : "Tobias",
"year" : 2007
},
"child3" : {
"name" : "Linus",
"year" : 2011
}
}
print(myfamily)

print(myfamily)
print(myfamily["child2"]["name"])
# Loop Through Nested Dictionaries
for x, obj in myfamily.items():
 print(x)
for y in obj:
 print(y + ':', obj[y])

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
Tobias
child1
child2
child3
name: Linus
year: 2011

In [78]:

# Functions
def fun():
 print("Hello from a function")
fun()
def fun(fname):
 print("Hello " + fname)
fun("Emil")
fun("Tobias")
fun("Linus")
def fun(fname, lname):
 print(fname + " " + lname)
fun("Emil", "Refsnes")

Hello from a function
Hello Emil
Hello Tobias
Hello Linus
Emil Refsnes

In [80]:

# if the number of arguments is unknown, add a * before the parameter name.
def fun(*kids):
 print("The youngest child is " + kids[1])
fun("Emil", "Tobias", "Linus")
# Send arguments with the key = value syntax.
def fun(child3, child2, child1):
 print("The youngest child is " + child3)
fun(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Tobias
The youngest child is Linus

In [81]:

# If the number of keyword arguments is unknown, add a double ** before the parameter name:
def fun(**kid):
 print("His last name is " + kid["lname"])
fun(fname = "Tobias", lname = "Refsnes")
# Default Parameter Value
def fun(country = "Norway"):
 print("I am from " + country)
fun("Sweden")
fun("India")
fun()
fun("Brazil")

His last name is Refsnes
I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [82]:

# Passing a List as an Argument
def fun(food):
 for x in food:
  print(x)
fruits = ["apple", "banana", "cherry"]
fun(fruits)
# Return values
def fun(x):
 return 5 * x
print(fun(3))
print(fun(5))
print(fun(9))

apple
banana
cherry
15
25
45

In [86]:

# A positional argument is a name that is not followed by an equal sign (=)
# and default value. A keyword argument is followed by an equal sign
# and an expression that gives its default value.
# Keyword
def nameAge(name, age):
 print("Hi, I am", name)
 print("My age is ", age)
nameAge(name="Prince", age=20)
nameAge(age=20, name="Prince")

Hi, I am Prince
My age is  20
Hi, I am Prince
My age is  20

In [85]:
# Position
def nameAge(name, age):
 print("Hi, I am", name)
 print("My age is ", age)
nameAge("Prince", 20)
nameAge(20, "Prince")

Hi, I am Prince
My age is  20
Hi, I am 20
My age is  Prince

In [89]:

# Recursion
def tri_recursion(k):
 if(k > 0):
  result = k + tri_recursion(k - 1)
  print(result)
 else:
  result = 0
 return result
print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [90]:
#Lambda function is a small anonymous function.
# It can take any number of arguments, but can only have one expression.
x = lambda a : a + 10
print(x(5))
x = lambda a, b : a * b
print(x(5, 6))

15
30

In [91]:

#
# The power of lambda is better shown when you use them as an anonymous function
# inside another function.
# a function deﬁnition that takes one argument, and that argument
# will be multiplied with an unknown number.
def myfunc(n):
 return lambda a : a * n
mydoubler = myfunc(2)
mytripler = myfunc(3)
print(mydoubler(11))
print(mytripler(11))

22
33